.userhome {

}

.userhome .search{
    padding-top: 2rem;
    padding-left: 30rem;
    padding-right: 30rem;
    margin-bottom: 3rem;
}

.userhome .search-bar{
    margin-right: 1.3rem;
}

.userhome .button-bar{
    position: relative;
    margin-bottom: 3rem;
    margin-right: 2rem;
}

.userhome .buttons{
    margin: 1.2rem;
}

.userhome .all-shops{
    margin-bottom: 7rem;
}

@media (max-width: 1300px){
    .userhome .input-group{
        padding-left: 15rem;
        padding-right: 12rem;
    }
}

@media (max-width: 800px){
    .userhome .input-group{
        padding-left: 6rem;
        padding-right: 4rem;
    }
    .userhome .button-bar{
        position: relative;
        margin-bottom: 3rem;
    }
}